body {
    text-align: center;
    font-family: Optima, sans-serif;
}

.orangutan-body {
    background-color: #ef5327;
}

.Lynxes-body {
    background-color: #ADD8E6;
}

.giraffe-body {
    background-color: #fefe33;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
    max-height: 400px;
}
a {
    text-decoration: none;
}
button {
    cursor: pointer;
    font-size: 16px;
    border-radius: 15px;
    padding: 10px 100px;
    transition-duration: .4s;
}
.Orangutan-return {
    background-color: red;
    border: grey;
}

.Orangutan-return:hover {
    background-color: white;
    color: red;
}

.Lynx-return {
    background-color: blue;
    color: white;
    border: black;
}

.Lynx-return:hover {
    background-color: white;
    color: blue;
}

.Giraffe-return {
    background-color: darkgoldenrod;
    color: white;
    border: black;
}

.Giraffe-return:hover {
    background-color: white;
    color: darkgoldenrod;
}